
h1 {
    text-align: center;
    text-shadow: 2px 2px gray;
    font-size: 90px;
    margin-bottom: 0;
}

div {
    padding: 10px;
} 

p {
    text-align: center;
    font-size: 18px;
    padding: 10px;

}

:host::ng-deep .p-panel .p-panel-header {
    background-color: #004161;
    color: white;
}