
  <h1>Welcome!</h1>
  <p>
    We offere a multitude of coding classes that cater to students 1st grade through 8th. 
    We have multiple class types, which are listed below, and classess are split up based on grade level. 
    Please visit our classes page to learn more about each class. 
    If you feel that we are missing something please submit a class idea for review!
  </p>
  <div>
    <p-panel *ngFor='let classType of classTypes' [header]="classType.OrganizationName">
      {{classType.Description}}
    </p-panel> 
  </div>
 


