<header class="header-container">
    <div class="left-container">
        <img src="assets/Waffle.svg"> 
        <img src="assets/logo.png" class="logo">    
    </div>
    <span>Codesters</span>
    <!-- <div style="width:100%"></div> -->
    <div class='right-container'>
        <img src="assets/search.svg">
        <img src="assets/bell.svg">
        <img src="assets/tasks.svg">
        <img src="assets/messages.svg">
        <img src="assets/bulb.svg">
        <img src="assets/Question.svg">
        <img src="assets/profile.svg">
    </div>
</header>
