
 app-nav {
  flex: 1;
  min-width: 250px;
  max-width: 250px;
}  

.flex-container {
    display: flex;  
} 

app-header {
  position:fixed;
  z-index: 20;
}

::ng-deep .p-breadcrumb {
  border: none;
}

