

html,
body,
app-root {

  margin: 0;
}

body {
  overflow:hidden;
}

app-home, app-classes, app-registration, app-class-submission, app-admin {
  width: 100%;
  max-height: 555px;
  overflow-y: scroll;
  padding-top: 100px;
  /* padding-bottom: 20px; */
  padding-left: 10px;
  padding-right: 20px
}