p-panel {
    display: flex;
    height: 100%; 
}

:host::ng-deep .p-panel .p-panel-header {
    display: none;
}

:host::ng-deep .p-panel .p-panel-content {
    height: 593px;
    background-color: #004161;
    color: white;
    padding:0;
}

:host::ng-deep .p-component {
    width: 250px;
    padding-top: 50px;
}

div {
    margin-bottom: 28px;
    padding-left: 30px
    
}

a:hover {
    color:#009eed !important;
}

a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

h3 {
    padding-left: 15px;
    float: left;
    margin-bottom: 0;
    padding-bottom: 18px;
    padding-top: 18px;  
    width: 100%;
}
